<%
var page = '';
%>
<%- include includes/header.ejs %>

<h1 class="page-header"><i class="fa fa-exclamation-circle"></i> Error: <%= error.message %> (<%= error.status%>)</h1>
<pre><%= error.stack %></pre>

<a href="/" class="btn btn-default"><i class="fa fa-home"></i> Go Home</a>

<%- include includes/footer.ejs %>
