<%
var page = 'home';
%>
<%- include includes/header.ejs %>
<%
if (!token) {
%>
The Gitlab token is not set up. Please have a Gitlab administrator log in to verify the application.
<%
}
%>
<%
if (projects.length == 0) {
%>
<h1>No Projects Found</h1>
<a href="/auth" class="btn btn-success">Relog</a>
<%
} else {
%>
<div class="list">
    <h3 class="text-center">Projects</h3>
    <div class="filter">
        <input type="text" placeholder="Filter by name" class="form-control" data-search=".project">
    </div>
    <%
    projects.forEach(function (project) {
        var info = project.info;
        var latest = project.getLatestBuild();
        var id = latest.id.replace(/\\/g, '/').split('/').splice(2).join('/');
    %>
    <div class="row project">
        <div class="col-sm-1">
            <%
            if (info.icon) {
                %>
            <img src="<%= info.icon %>" alt="Icon" class="img-responsive"/>
            <%
            }
             %>
        </div>
        <div class="col-sm-9">
            <h4><a href="/project/<%= info.id %>"><%= info.name %></a></h4>
            <h5>Last build <span class="time"><%= latest.date %></span></h5>
        </div>
        <div class="col-sm-1 text-center" data-toggle="tooltip" data-placement="top" title="# of Builds">
            <br>
            <i class="fa fa-archive"></i> <%= info.builds.length %>
        </div>
        <div class="col-sm-1 text-center" data-toggle="tooltip" data-placement="top" title="Download Latest Build">
            <a href="/downloads/<%= info.id %>/<%= info.builds.length - 1 %>/<%= id %>" class="btn btn-sm btn-info"><i class="fa fa-download"></i></a>
        </div>
    </div>
    <%
    });
    %>
</div>
<%
}
%>
<%- include includes/footer.ejs %>
